.Br {
    display: block;
    margin-bottom: 0;
    font-size: 20px;
}

.Button {
    height: 55px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 20px;
}

.Button-Send {
    height: 55px;
    width: 600px;
    margin-top: 35px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
}

.Header {
    display: block;
    position: inherit;
    height: 200px;
    width: 1000px;
    margin-top: -35px;
    color: #3e3e3e;
    background: #FFFFFF;
    /*Arrondir les coins du bas*/
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.Img-Content {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 450px;
    width: 450px;
    background: #FFFFFF;
    /*Arrondir les coins*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.Img-Score {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    background: #FFFFFF;
    /*Arrondir les coins*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}