/* Retour à la ligne*/
.Br {
    display: block;
    margin-bottom: 0;
    font-size: 20px;
}

/* Bouton pour naviger de la page de vote à la page de classement*/
.Button {
    height: 55px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 20px;
}

/* Bouton pour envoyer une image à l'adresse mal donnée, mais ne fais rien actuellement */
.Button-Send {
    height: 55px;
    width: 600px;
    margin-top: 35px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
}

/* Style pour les 2 boutons de la page rank*/
.Button-Rank {
    height: 55px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    color: black;
}

/* Styles pour le content de la page vote */
.Content {
    max-height: 460px;
    margin-top: 30px;
    padding-bottom: 200px;
}

/* Styles pour le corps même de la page -> place les bouttons like et dislike ainsi que l'image*/
.Content-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Bouton "je n'aime pas" de la page de vote */
.Dislike {
    display: flex;
    margin-left: 180px;
    margin-right: 20px;
    background: #fff;
    color: red;
    height: 60px;
    width: 60px;
    font-size: 32px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* Header de la page Vote */
.Header {
    display: block;
    position: inherit;
    height: 200px;
    width: 1000px;
    margin-top: -35px;
    color: #3e3e3e;
    background: #FFFFFF;
    /*Arrondir les coins du bas*/
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

/* Header de la page Rank */
.Header-Rank {
    display: block;
    position: inherit;
    height: 200px;
    width: 1000px;
    margin-top: -100px;
    color: #3e3e3e;
    background: #FFFFFF;
    /*Arrondir les coins du bas*/
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

/* Style de la card contenant l'image de la page Vote*/
.Img-Content {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 450px;
    background: #FFFFFF;
    /*Arrondir les coins*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Style des cards contenant les images de la page Rank */
.Img-Score {
    margin-top: 20px;
    margin-right: 20px;
    height: 235px;
    width: 235px;
    margin-bottom: 20px;
    background: #FFFFFF;
    /*Arrondir les coins*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Bouton "J'aime" de la page Vote" */
.Like {
    display: flex;
    margin-left: 20px;
    margin-right: 180px;
    background: #fff;
    color: #97C93C;
    height: 60px;
    width: 60px;
    font-size: 32px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* Compteur de like sur l'image de la page Vote */
.Like-Count {
    color: #fff;
    margin-top: 10px;
    margin-right: 1px;
    height: 25px;
    width: 50px;
    background: #a3d941;
    font-size: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Compteur de dislike sur l'image de la page Vote */
.Dislike-Count {
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    height: 25px;
    width: 50px;
    background: #ff6869;
    font-size: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Compteur de like sur l'image de la page Vote */
.Rank {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 300px;
    margin-top: 10px;
}

.Rank-Small {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 120px;
    margin-left: 10px;
    margin-top: 6px;
}

.Like-Count-Small {
    color: #fff;
    margin-top: 6px;
    margin-right: 1px;
    height: 18px;
    width: 35px;
    background: #a3d941;
    font-size: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.Dislike-Count-Small {
    color: #fff;
    margin-top: 6px;
    margin-right: 5px;
    height: 18px;
    width: 35px;
    background: #ff6869;
    font-size: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}